<footer class="bg-kcv-black-mild text-kcv-white">
    <div class="container mx-auto px-4 py-4 flex items-center justify-between">
        <div>2019 &copy; <b>Korfbalclub Verde vzw</b> &mdash; Vogelzanglaan 6, 2020 Antwerpen</div>
        <div class="flex items-center">
            <a class="hover:text-kcv-green mx-2 inline-block" href="mailto:info@verde-korfbal.be"><i class="far fa-envelope"></i></a>
            <a class="hover:text-kcv-green mx-2 inline-block" href="https://www.facebook.com/sportclubkcverde/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</footer>