/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/* -- CSS variables */
$outlineColor: #5db7a5;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @apply font-sans;
}

/* -- A subtle focus style for keyboard-input elements */
.text-input:focus {
  outline: 1px solid $outlineColor; /* Adjust to suit your tastes */
}

/* -- No outline for non-keyboard-inputs elements */
button:focus,
select:focus {
  outline: none;
}

html.user-is-tabbing *:focus {
  outline: 2px solid $outlineColor !important; /* for non-webkit browsers */
  outline: 5px auto -webkit-focus-ring-color !important;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

/* -- For screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a{
  color: inherit;
}
.rotated{
  transform: rotate(180deg);
}

.transition-sm{
  transition: all .2s;
}

[v-cloak] {display: none}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

picture img, picture video{
  object-fit: cover;
}

.overlay:before{
  content: "";
  @apply absolute pin-t pin-l w-full h-full bg-kcv-black-mild opacity-50;
}

.overlay-g:before{
  content: "";
  @apply absolute pin-t pin-l w-full h-full bg-kcv-green opacity-90;
}

.contain img{
  object-fit: contain;
}

.cover img{
  object-fit: cover;
}

.bg-kcv-green-50{
  &:before{
    content:"";
    @apply absolute pin-t pin-l w-full h-full bg-kcv-green-light opacity-80;
  }
}

.text-shadow{
  text-shadow: 2px 2px 2px black;
}

h1, h2, h3 {
  @apply mb-4;
}

.obj-c img{
  object-fit: cover;
}

em {
  @apply roman font-bold mb-2 inline-block p-2 bg-kcv-green-light text-kcv-white;
}

.training p, .text p {
  @apply my-2;
}

ul{
  @apply my-4;
}

.extern {
  @apply text-kcv-white border-kcv-white border border-solid p-2;
}


@import 'slider';